<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Poise-Project-Management</title>
</head>
<body>

	<img alt="Poised-image" th:src="@{/images/cover-image.jpg}" width="100%" > 
	<h1 id="h1">Poise Construction Managers</h1>
	
	<div class="anchor">
		<ul type="square"> 
			<li><a th:href="@{/project/}" >Capture Project Data</a></li>
			<li><a th:href="@{/client}">Capture Client Data</a></li>
			<li><a th:href="@{/architect}">Capture Architect's Data</a></li>
			<li><a th:href="@{/contractor}">Capture Contractor's Data</a></li>
		</ul>	
	</div>
	
	
</body>
</html>